groupbox.mdbc-pref-section-box {
  border: 2px solid black;
  border-radius: 10px;
  padding-bottom: 10px;
  width: 98%;
  min-width: 300px;
}

hbox.mdbc-pref-hbox-indent {
  display: inline-flex;
  flex-wrap: nowrap;
  overflow: visible;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  width: 100%;
  white-space: pre;
  max-width: 100%;
}

label.mdbc-pref-label-hone {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

caption.mdbc-pref-section-title {
  padding: 15px 0 5px 10px;
  font-size: 18px;
  font-weight: 700;
}

label.mdbc-pref-subsection-title {
  padding: 15px 0 1px 10px;
  font-size: 16px;
  font-weight: 500;
}

description.mdbc-pref-description-indent {
  padding-left: 10px;
}

input.mdbc-pref-textbox-flex1 {
  -moz-box-flex: 1;
}

input[type='text'].mdbc-pref-textbox-partialwidth {
  min-width: 80px;
  width: 100px;
  flex-grow: 3;
  margin-left: 0;
  margin-right: 0;
  font-family: monospace;
}

radio.mdbc-pref-radio-main {
  padding: 18px 0 1px 2px;
  font-size: 16px;
  font-weight: 700;
}

.mdbc-pref-explication-minor {
  font-size: 11px;
}

.mdbc-pref-text-center {
  text-align: center;
}

.mdbc-pref-width-full {
  width: 600px;
}

hr.mdbc-pref-hr {
  border: 2px solid darkslategrey;
  margin-top: 10px;
  opacity: 20%;
  border-radius: 5px;
}

div.mdbc-pref-options-div {
  background-color: #e5e5e5;
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  width: 94%;
}

span.mdbc-pref-options-code-span {
  font-family: monospace;
  font-weight: 600;
}
span.mdbc-pref-options-span-first {
  text-align: left;
}
span.mdbc-pref-options-span-left {
  padding-left: 4px;
  text-align: right;
  padding-right: 0;
  margin-right: 0;
  font-size: 13px;
}
span.mdbc-pref-options-span-right {
  flex-grow: 1;
  text-align: left;
  padding-left: 0;
  margin-left: 0;
  font-size: 13px;
}
code.mdbc-pref-code-indent {
  padding-left: 10px;
}

@media (prefers-color-scheme: dark) {
  div.mdbc-pref-options-div {
    background-color: #212121;
    border: 2px solid rgba(255, 255, 255, 0.5);
  }
}
